@import './variables';
@import './resets';

// base
body{
    overflow-x: hidden;
    width: 100vw;
    background: $primary;
    font-family: $f-primary;
}
.btn {
    font-family: $f-secondary;
    background: none;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid $teal;
    color: $teal;
    padding: 0.5em 1em;
    box-shadow: 
        0px 0px 10px rgba($teal, 0.5), 
        inset 0px 0px 10px rgba($teal, 0.5);
    transition: all 0.2s ease;
    display: inline-block;
    &:hover{
        // background: $teal;
        color: $orange;
        border: 2px solid $orange;
        box-shadow: 
            0px 0px 10px rgba($orange, 0.8),
            inset 0px 0px 10px rgba($orange, 0.5);

    }
    &:active{
        box-shadow: 
            0px 0px 20px rgba($orange, 0.8),
            inset 0px 0px 20px rgba($orange, 0.5);
    }
}

input, textarea{
    background: rgba(white, 0.1);
    padding: 0.5em 1em;
    border-radius: 5px;
    overflow: hidden;
    outline: none;
    border: 2px solid $teal;
    color: $light;
    ::placeholder{
        color: $gray;
    }
}

//fonts
h1, h2, h3, h4 {
    color: $light;
    font-weight: normal;
}

h1, h3 {
    font-size: 1.2em;
    color: $orange;
}

h2 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.1em;
}

p, a, li{
    color: $teal;
}

// mobile
@import './index';

// tablet
@media screen and (max-width: 620px){
    body{
        font-size: 18px;
    }
}

// desktop
@media screen and (max-width: 960px){
    body{
        font-size: 20px;
    }
}