*, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}

a, li, ul, ol, p {
  text-decoration: none;
  list-style-type: none;
}

body {
  overflow-x: hidden;
  width: 100vw;
  background: #011c41;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

input, textarea {
  font: inherit;
  font-size: 1em;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5em 1em;
  border-radius: 5px;
  overflow: hidden;
  outline: none;
  border: 2px solid #5ac8fa;
  color: #e5e5ea;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgba(229, 229, 234, 0.5);
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: rgba(229, 229, 234, 0.5);
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: rgba(229, 229, 234, 0.5);
}

input::placeholder, textarea::placeholder {
  color: rgba(229, 229, 234, 0.5);
}

h1, h2, h3, h4 {
  color: #e5e5ea;
  font-weight: normal;
}

h1, h3 {
  font-size: 1.2em;
  color: #ff9500;
}

h2 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.1em;
}

p, a, li {
  color: #5ac8fa;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
}

.nav {
  margin: 0 1em;
  padding: 1em 0;
}

.nav ul {
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1/10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav ul a {
  padding: 0.5em 1em;
}

.welcome {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#011c41), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(90, 200, 250, 0.2)), to(#011c41)), url("../pictures/55.jpg");
  background-image: linear-gradient(#011c41 0%, rgba(0, 0, 0, 0) 20%, rgba(90, 200, 250, 0.2) 80%, #011c41 100%), url("../pictures/55.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.welcome .welcome-text {
  margin-top: 2em;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.welcome .welcome-text .btn {
  margin: 1em 0;
}

.welcome .social-list {
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-column: 9/10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  justify-self: start;
  -ms-flex-item-align: start;
      align-self: start;
  margin-top: 2em;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 1.5em;
}

#portfolio .projects {
  grid-column: span 9;
  gap: 1em;
  padding: 0 1em;
}

#portfolio .projects .p-container {
  text-align: center;
  margin: 0 1em;
  padding: 2em 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1/10;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 1fr 1fr auto auto auto 1fr;
      grid-template-rows: 1fr 1fr auto auto auto 1fr;
}

#portfolio .projects .p-container:not(:last-child) {
  border-bottom: 1px solid rgba(255, 149, 0, 0.5);
}

#portfolio .projects .p-container img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  border-radius: 50%;
  border: 2px solid #5ac8fa;
}

#portfolio .projects .p-container h4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / 7;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.2em;
  color: #ff9500;
}

#portfolio .projects .p-container p {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / 7;
  padding: 0 1em;
  font-size: 1em;
}

#portfolio .projects .p-container .stack {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/ 6;
  grid-column: span 6;
  text-align: left;
  padding: 2.5em 0;
}

#portfolio .projects .p-container .stack ul {
  border-left: 1px solid #5ac8fa;
  padding-left: 1em;
}

#portfolio .projects .p-container .stack li {
  color: #e5e5ea;
  font-size: 1.1em;
}

#portfolio .projects .p-container .stack .back {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-column-align: center;
      justify-self: center;
}

#portfolio .projects .p-container .stack .front {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5 / 10;
}

#portfolio .projects .p-container .buttons {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  grid-column: span 6;
  justify-self: stretch;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#skills {
  padding: 0 1em;
}

#skills .s-container {
  text-align: center;
  margin: 0 1em;
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#skills .s-container:not(:last-child) {
  border-bottom: 1px solid rgba(255, 149, 0, 0.5);
}

#skills .s-container h3 {
  margin: .5em 0;
}

#skills .s-container i {
  color: #ff9500;
  font-size: 2em;
}

#skills .s-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#skills .s-container ul li {
  padding: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 5px;
  margin: 0.2em;
  border: 1px solid rgba(255, 149, 0, 0.5);
  color: #e5e5ea;
}

#skills .s-container p {
  padding: 0.5em 1em;
  text-align: center;
}

.container {
  border: 1px solid rgba(255, 149, 0, 0.5);
  border-radius: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  grid-column: span 9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ 3;
}

.sec-header {
  padding: 2em 0;
  margin: 1em 0;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/ 2;
  grid-column: span 9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

.sec-header h3 {
  margin-top: 1em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5em;
  font-weight: bold;
}

.sec-header img {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.header-img {
  width: 50vw;
  max-width: 300px;
}

footer {
  background: #2c2c2e;
  padding: 1em;
}

.btn {
  font-family: "Nunito", sans-serif;
  background: none;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #5ac8fa;
  color: #5ac8fa;
  padding: 0.5em 1em;
  -webkit-box-shadow: 0px 0px 10px rgba(90, 200, 250, 0.5), inset 0px 0px 10px rgba(90, 200, 250, 0.5);
          box-shadow: 0px 0px 10px rgba(90, 200, 250, 0.5), inset 0px 0px 10px rgba(90, 200, 250, 0.5);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
}

.btn:hover {
  color: #ff9500;
  border: 2px solid #ff9500;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 149, 0, 0.8), inset 0px 0px 10px rgba(255, 149, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(255, 149, 0, 0.8), inset 0px 0px 10px rgba(255, 149, 0, 0.5);
}

.btn:active {
  -webkit-box-shadow: 0px 0px 20px rgba(255, 149, 0, 0.8), inset 0px 0px 20px rgba(255, 149, 0, 0.5);
          box-shadow: 0px 0px 20px rgba(255, 149, 0, 0.8), inset 0px 0px 20px rgba(255, 149, 0, 0.5);
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  margin: 2em 0;
}

#contact form input {
  margin-bottom: 1em;
}

#contact form textarea {
  margin: 1em 0;
  height: 10em;
}

#contact form .btn {
  margin: 1em 0;
  font-size: inherit;
}

@media screen and (min-width: 620px) {
  body {
    font-size: 18px;
  }
  .nav ul {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3/8;
  }
  .welcome .welcome-text {
    -ms-grid-column: 4 !important;
    -ms-grid-column-span: 4 !important;
    grid-column: 4/8 !important;
  }
  .welcome .social-list {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .sec-header {
    gap: 1em;
  }
  .sec-header h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .sec-header img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #contact form {
    padding: 0 10%;
  }
}

@media screen and (min-width: 960px) {
  body {
    font-size: 20px;
  }
  #portfolio .projects .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #portfolio .projects .container .p-container {
    grid-column: span 1;
    border: none;
    margin: 1em;
    padding: 0;
  }
  #portfolio .projects .container .p-container:not(:last-child) {
    border-right: 1px solid rgba(255, 149, 0, 0.5);
  }
  #skills .container {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3/8;
  }
  #skills .container .s-container ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sec-header {
    gap: 1em;
  }
  .sec-header h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .sec-header img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #contact form {
    padding: 0 25%;
  }
}
/*# sourceMappingURL=main.css.map */