@import './variables';
@import './resets';

// base
body{
    overflow-x: hidden;
    width: 100vw;
    background: $primary;
    font-family: $f-primary;
    font-size: 16px;
}

input, textarea{
    font: inherit;
    font-size: 1em;
    background: rgba(white, 0.1);
    padding: 0.5em 1em;
    border-radius: 5px;
    overflow: hidden;
    outline: none;
    border: 2px solid $teal;
    color: $light;
    &::placeholder{
        color: rgba($light, 0.5);
    }
}

//fonts
h1, h2, h3, h4 {
    color: $light;
    font-weight: normal;
}

h1, h3 {
    font-size: 1.2em;
    color: $orange;
}

h2 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.1em;
}

p, a, li{
    color: $teal;
}

// mobile
@import './index';

// tablet
@media screen and (min-width: 620px){
    body{
        font-size: 18px;
    }

    @import './xl';
}

// desktop
@media screen and (min-width: 960px){
    body{
        font-size: 20px;
    }
    @import './xl';

}